/*Empezando archivos*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #707b7c; /* Fondo gris azulado */
    color: #fff; /* Texto blanco para contrastar con el fondo */
    padding: 20px;
    box-sizing: border-box;
}
